################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/TestLibA/.vs/
/TestLibA/Debug
/TestLibA/packages
/TestExeA/.vs/
/TestExeA/packages
/TestExeA/Debug
