################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestLibA/.vs/TestLibA/v16/Preview
*.user
